<form class="form-signin">
        <div class="text-center mb-4">
          <img class="mb-4" src="/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Blown Away</h1>


          <h1>MongoDB: {{#eq mongo true}} <span class="badge badge-success">Success</span> {{else}} <span class="badge badge-danger">Failed</span> {{/eq}}</h1>
            <h1>Redis: {{#eq redis true}} <span class="badge badge-success">Success</span> {{else}} <span class="badge badge-danger">Failed</span> {{/eq}}</h1>

        </div>
  
  
        <p class="mt-5 mb-3 text-muted text-center">&copy; MangoSix</p>
      </form>
  